<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Locations Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="columns">
        <div class="column is-two-thirds">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Price</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="location: ${locations}">
                    <th th:text="${location.ID}">id</th>
                    <td><a th:href="@{/locations/{id}(id=${location.ID})}" th:text="${location.name}">name</a></td>
                    <td th:text="${location.description}">description</td>
                    <td>
                        <span>&euro;</span>
                        <span th:text="${location.rental_Rate}"></span>
                    </td>
                    <td>
                        <button type="button" th:onclick="'javascript:deleteLocation(' + ${location.ID} + ');'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="column is-one-third">
            <form action="#" th:action="@{/locations}" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" name="name" type="text" placeholder="Waaier">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <input class="input" name="description" type="text" placeholder="Big lecture room">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Special Features</label>
                    <div class="control">
                        <textarea name="Special_Features"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Full Text</label>
                    <div class="control">
                        <textarea name="Fulltext"></textarea>
                    </div>
                </div>

                <input type="hidden" name="rating" value="5">

                <div class="field">
                    <button class="button is-primary" type="submit">
                        Add location
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    async function deleteLocation(id) {
        const response = await fetch('/location-service/locations/' + id, {
            method: "DELETE"
        }).then(() => {
            location.reload();
        });
    }
</script>

</body>
</html>